In [6]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [7]:
df = pd.read_csv("IDSData.csv")

In [8]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 59
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [11]:
df = df.groupby("Country Name").sum()

In [12]:
df.head()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 59
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,50536410236.66,858579000.00,486060000.00,455046000.00,431877000.00,414021000.00,399393000.00,387165000.00,384528000.00,nan
Albania,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,86854002321.00,3283961000.00,2830078000.00,2272562000.00,3168147000.00,1649905000.00,1251147000.00,1085663000.00,941217000.00,nan
Algeria,19019155907.57,23625565257.25,28894487595.26,64629364812.39,63028692815.03,92914959055.37,114769753870.19,177034406944.76,251153726400.44,277797819633.60,...,382587420898.30,782164000.00,634366000.00,409175000.00,310207000.00,329415000.00,339420000.00,316062000.00,313521000.00,nan
Angola,2510000.00,1940000.00,2250000.00,7700000.00,7060000.00,4810000.00,16310000.00,31540000.00,47230000.00,45620000.00,...,812479647066.31,67015641000.00,54546702000.00,44758125000.00,18547056000.00,30455241000.00,11289243000.00,10357482000.00,9267396000.00,nan
Argentina,83386706241.79,90444756637.13,95194957501.58,118489068404.69,149937198838.40,121971156436.39,161434184535.45,173788231264.83,216798771175.15,310314824460.36,...,2786664169920.55,113562671000.00,52559284000.00,51079316000.00,37727676000.00,55852273000.00,27056733000.00,29616566000.00,20627478000.00,nan